<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Логин</h1>
<form th:action="@{/login}" method="post">
    <label for="username">Login:
        <input id="username" type="text" name="username">
    </label><br/>
    <label for="password">Password:
        <input id="password" type="password" name="password">
    </label>
    <button type="submit">Enter</button>
</form>
<form th:action="@{/registration}">
    <button type="submit">Registration</button>
</form>
</body>
</html>