<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin}">Перейти на страницу админа</a>
    </div>
    <form action="/shop">
        <label for="productName">Название:
            <input id="productName" type="text" name="productName">
        </label>
        <label for="price">Цена:
            <input id="price" type="number" name="price">
        </label>
        <label for="categoryName">
            <select id="categoryName" name="categoryName">
                <option value="">Все товары</option>
                <option value="Видеокарты">Видеокарты</option>
                <option value="Жесткие Диски">Жесткие Диски</option>
                <option value="Мониторы">Мониторы</option>
                <option value="Наушники">Наушники</option>
                <option value="Ноутбуки">Ноутбуки</option>
                <option value="Процессоры">Процессоры</option>
            </select>
        </label>
        <button type="submit">Поиск</button>
    </form>
    <div th:insert="~{fragment::header}"></div>
    <form th:action="@{/shop/cart}" method="get">
        <button type="submit">Корзина</button>
    </form>
    <br/>
    <br/>
    <tr th:each="product : ${products}">
        <td th:text="${product.productName}">name</td>
        <td th:text="Цена"></td>
        <td th:text="${product.price}">price</td>
        <td th:text="Рублей">rubles</td>
        <td>
            <form th:action="@{/shop/buy}" method="post">
                <input type="hidden" name="name" th:value="${product.productName}" />
                <button type="submit">Купить</button>
            </form>
        </td>
        <td>
            <form th:action="@{/shop/cart/add/{name}(name=${product.productName})}" method="post">
                <button type="submit">Добавить в корзину</button>
            </form>
        </td>
    </tr>
</body>
</html>
